[submodule "assignment-1-Echomo-Xinyu"]
	path = assignment-1-Echomo-Xinyu
	url = https://github.com/ITP-404-Fall-2023/assignment-1-Echomo-Xinyu
[submodule "assignment-2-Echomo-Xinyu"]
	path = assignment-2-Echomo-Xinyu
	url = https://github.com/ITP-404-Fall-2023/assignment-2-Echomo-Xinyu
[submodule "assignment-3-Echomo-Xinyu"]
	path = assignment-3-Echomo-Xinyu
	url = https://github.com/ITP-404-Fall-2023/assignment-3-Echomo-Xinyu.git
[submodule "quiz-1"]
	path = quiz-1
	url = https://github.com/ITP-404-Fall-2023/quiz-1-Echomo-Xinyu.git
[submodule "assignment-4-Echomo-Xinyu"]
	path = assignment-4-Echomo-Xinyu
	url = https://github.com/ITP-404-Fall-2023/assignment-4-Echomo-Xinyu.git
[submodule "assignment-5-Echomo-Xinyu"]
	path = assignment-5-Echomo-Xinyu
	url = https://github.com/ITP-404-Fall-2023/assignment-5-Echomo-Xinyu.git
